[Desktop Entry]
Encoding=UTF-8
Name=Telegram Desktop
Comment=Official desktop version of Telegram messaging app
Exec=telegram -- %u
Icon=telegram
Terminal=false
Type=Application
Categories=Network;
